@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rsw-editor{
  flex: 1
}

.rsw ul{
  margin-left: 14px;
}

.rsw ul li {
  list-style: disc;
}

.rsw ol li {
  list-style: decimal;
}

.rsw h2{
  font-size: 1.5em;
  font-weight: bold;
}

.rsw h1{
  font-size: 2em;
}